<div class={{containerClass}}>
	{{fromValue}} - {{toValue}}
	<div class="line"></div>

	{{timerange-marker 
		offsetX=fromOffsetXStepped
		type="from"
		positionLeft=positionLeft
		dragging=fromDragging

		startDragging=(action "startDragging") 
		endDragging=(action "endDragging")
	}}
	
	{{timerange-marker 
		offsetX=toOffsetXStepped
		type="to"
		positionLeft=positionLeft
		dragging=toDragging


		startDragging=(action "startDragging") 
		endDragging=(action "endDragging")

	}}
</div>